<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag "completed", "1",
      task.completed, disabled: true %>

      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Create new", new_task_path %>
</p>
